<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HolidaySoap" maxReceivedMessageSize="8388608" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.sapo.pt/Holiday" binding="basicHttpBinding"
                bindingConfiguration="HolidaySoap" contract="SapoServiceHoliday.HolidaySoap"
                name="HolidaySoap" />
        </client>
    </system.serviceModel>
</configuration>